package ${request.package}.bean.ex;

import ${request.package}.bean.bs.${request.optionMap.baseBeanClassName};

/**
 * @author FreeGen
 */
public class ${optionMap.extendedBeanClassName} extends ${optionMap.baseBeanClassName} {

    private static final long serialVersionUID = 1L;
}
